
html {
  overflow: hidden;
}
.fdiv {
  height: 300px;
  width: 300px;
}
.comp {
  margin: 10px;
}
.left-c {
  overflow-y: scroll;
  flex: 10;
  scroll-behavior: smooth;

  margin-bottom: 0.5em;
}

.left-c::-webkit-scrollbar {
  width: 0.5em;
}



.left-c::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.233);
  outline: 0.06em solid rgb(104, 108, 112);
}

.img-ul {

  margin: 0;
  padding: 0;
  
  list-style: none;
}

.img-li {
  width: 90%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  align-items: center;

  border-bottom: 1px solid #363636;
}

.img-li:hover {
  background-color: #f4f6ff17;
  border-radius: 5px;
  width: 100%;
}

.img-div {
  padding: 0;
  padding-left: 1em;
  margin-top: 10px;
  margin-left: 7px;

  width: 80%;
}

.img-h {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;

  font-weight: 400;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 60%;
  
  white-space: nowrap;
}
.img-h-simple-brief
{
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
  
    font-weight: 400;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
 
    white-space: nowrap;
}
.img-p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: grey;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 60%;
  
  white-space: nowrap;
}

.time {
  position: absolute;
  right: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: small;
  top: 17px;
  color: grey;
  margin-right: auto;
  margin-left: auto;
}
.unseen-msg {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  max-width: 50px;
  min-width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #27be8b;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  text-align: center;
}
.new-cnt {
  bottom: 20%;
  right: 3%;
}
.center-cnt {
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

.online-color {
  width: 10px;
  height: 10px;
 border-radius: 50%;
  top:0px;
  left:33px;
  display: inline-block;
  position: absolute;
  background-color: #27be8b;
}
.img-chat {
  position: relative;
 
}
/* ======================================== home styling ========================================================================*/

.home {
  background-image: url(/images/bg-home.jpg);

  font-family: "Montserrat", sans-serif;
  height: 90vh;
  width: 80%;
  margin-top: 3.75em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.563em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  align-items: center;
  display: flex;

  justify-content: center;
}
.chatBox {
  height: 80vh;
  display: flex;

  width: 90%;

  border-radius: 0.625em;

  box-shadow: 0 0.625em 0.313em 0.063em #333;
  overflow: hidden;
}
.leftHome {
  background-color: rgba(0, 0, 0, 0.8);
  flex: 1;
  min-width: 20em;

  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
}

.middleHome {
  background-color: rgba(0, 0, 0, 0.72);

  flex: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 24em;
}
.middleHomeHeader {
  border-bottom: 0.063em solid white;
  width: 90%;
  margin-left: 1em;
  min-height: 4em;
  margin-top: 1em;
  margin-bottom: 0.5em;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.header-username-section {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-left: 20px;

  overflow: hidden;
}
.header-username-section:active
{
    background-color: #f4f6ff17;
}
.chatScroll {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 10;
  scroll-behavior: smooth;

  height: auto;
  margin-bottom: 0.5em;
  
 
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chatScroll::-webkit-scrollbar {
  width: 0.5em;
}

.chatScroll::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.233);
  outline: 0.06em solid rgb(108, 117, 126);
}
.receiverName {
  font-size: 1.5em;
  color: white;
  opacity: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lastSeen {
  color: grey;
  font-size: 0.8em;
  flex: 1;
  opacity: 1;
}
#chatInputBox {
  display: flex;
  flex: 1;
  justify-content: space-between;

  min-height: 3em;
}


.middle-img {
  width: 45%;
  height: 40%;
}
.middleEmpty {
  align-items: center;
  justify-content: center;
  color: grey;
}
.messageInput {
  flex: 3;
  border: none;
  padding-top: 0.5em;
  outline: none;
   width: 15em;
  background-color: rgba(0, 0, 0, 0);
 
  padding-left: 2em;
  font-size: 1em;

  color: #5f6769;
}
.messageInput:active
{
    background-color: #f4f6ff17;
}
.messageButton {
  flex: 1;
  border: none;

  color: grey;
  outline: none;
  background-color: rgba(100, 89, 89, 0);

  font-size: 1em;
}
.messageButton:focus {
  outline: none;
}
.messageButton:active {
  color: white;

  transform: translateY(0.25em);
}
.rightHome {
  display: flex;
  background-color: rgba(0, 0, 0, 0.78);
  flex: 2;
  flex-direction: column;
  position: relative;
  min-width: 24em;
}
span[id="right"] {
  align-items: center;

  color: rgb(197, 157, 157);
  justify-content: center;
}
.back-button-right {
  width: 2em;
  margin: 0.5em;
  display: none;
  flex:1;
}
.back-button {
  width: 2em;
  margin-right: 10px;
  display: none;
}
 .back-button:active
{
    
    transform: translateX(-8px);
} 
.back-button-right:active
{
    transform: translateX(-5px);
}
@media only screen and (max-width: 90em) {
  #right {
    display: none;
  }
  .back-button-right {
    display: block;
  }
}

@media only screen and (max-height: 41em) {
  #right {
    display: none;
  }
  #middle {
    display: none;
  }

  .home {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
  }
  .chatBox
  {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    border-radius: 0;
  }
  
  
}

@media only screen and (max-width: 60em) {
  #middle {
    display: none;
  }

  .back-button-right {
    display: block;
  }
  .back-button {
    display: block;
  }

  .home {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
  }
  .chatBox
  {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    border-radius: 0;
  }
  
}

.date-main {
  clear: both;

 

  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.199);
  width: fit-content;
  
  margin-left: auto;
  margin-top: 0.3em;
  margin-right: auto;
  padding: 0.3em;
  border-radius: 5px;
  font-size: small;

}
.outer-div {
  position: absolute;
      margin-top: 0.3em;
      right: 0;
     
      left: 0;
  z-index: 13;

  
}
.unread-msg-in-room {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.199);

  position: relative;
  clear: both;
  margin-left: auto;
  margin-right: auto;

  margin-top: 1em;
  padding: 0.3em;

  font-size: small;
}
.date {
 
  
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.137), 0 2px 2px rgba(0, 0, 0, 0.281);
  color: #000000;
 
  background-color: grey;
  
  display: none;
  margin: 0 auto;
  padding: 0.6em;
  border-radius: 5px;
  font-size: small;
  width: fit-content;
}
.date-right
{
 
   
  
   
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.137), 0 2px 2px rgba(0, 0, 0, 0.281);
    color: #000000;
    
    background-color: grey;
   
    display: none;
    margin: 0 auto;
    padding: 0.6em;
    border-radius: 5px;
    font-size: small;
    width: fit-content;
  
}

.loading-symbol-inside-chat {
  width: 3em;
}
.loading-msg {
  background-color: unset;
}
.top-msg-end {
  display: none;
  background-color: #f4f6ff17;
  color: rgba(255, 255, 255, 0.938);
  align-items: center;
  padding-right: 25px;
  justify-content: center;
  font-size: small;
  height: 2em;

  margin-top: 5px;
}
.down-arrow {
  width: 1.8em;
}
#myBtn {
  position: absolute; /* Fixed/sticky position */
  bottom: 21%; /* Place the button at the bottom of the page */
  right: 5%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  border-radius: 50%;
  height: 2.2em;
  width: 2.2em;
  align-content: center;
  justify-content: center;

  background-color: white; /* Set a background color */
  color: rgb(105, 105, 105); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.3em; /* Some padding */
  display: none;
}

#myBtn:active {
  background-color: #00000000;
}

/* ============================================message component styling =======================================*/

.msg {
  padding: 0.5em;

  padding-right: 0.6em;
  padding-left: 0.6em;
  display: inline-block;
  background-color: white;
 
  margin-left: 1.4em;
  max-width: 16em;
  border-radius: 0.63em;
  clear: both;
  float: left;
  min-width: 5em;
  position: relative;
}

.sendmsg {
  padding: 0.5em;
  padding-right: 0.75em;
  padding-left: 0.6em;
  max-width: 16em;
 
  margin-right: 1.4em;
  text-align: left;
  display: inline-block;
  background-color: #000000;
  float: right;
  position: relative;
  clear: both;
  border-radius: 0.63em;
}

@media only screen and (max-width: 90em) {
  .msg {
    margin-left: 3em;
  }
  .sendmsg {
    margin-right: 3em;
  }
}
@media only screen and (max-width: 75em) and (min-width: 60em) {
  .msg {
    margin-left: 1.4em;
  }
  .sendmsg {
    margin-right: 1.4em;
  }
}
@media only screen and (max-width: 40em) {
  .msg {
    margin-left: 1.4em;
  }
  .sendmsg {
    margin-right: 1.4em;
  }
}
.bubble-arrow-left {
  position: absolute;

  top: 0px;
  left: -18px;
  z-index: 99;
  border: 14px solid white;
  border-bottom-color: transparent;
  border-left-color: transparent;

  width: 0;
  height: 0;
}

.bubble-arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  top: 0px;
  z-index: 99;
  right: -15px;

  border: 15px solid #000000;

  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

li#receive + li#receive .msg .bubble-arrow-left {
  display: none;
}
li#send + li#send .sendmsg .bubble-arrow-right {
  display: none;
}

li#receiveTop + li#receive .msg .bubble-arrow-left {
  display: none;
}

li#sendTop + li#send .sendmsg .bubble-arrow-right {
  display: none;
}

li#receiveTop + li#receive
{
  margin-top: 0.3em;
  
}
li#sendTop + li#send
{
  margin-top: 0.3em;
  
}

li#receive + li#receive
{
  margin-top: -3px;
  
}
li#send + li#send
{
  margin-top: -3px;
 
}

li#send + li#receive
{
  margin-top: 1em;

}
li#receive + li#send
{
  margin-top: 1em;

}

 li#receiveTop  {
  
  margin-top: 1.5em;
}
 li#sendTop  {
  
  margin-top: 1.5em;
}




.sendmsgBody {
  color: rgba(255, 255, 255, 0.692);

  display: inline;

  overflow-wrap: break-word;
  font-size: 1em;
}

.msgBody {
  color: rgb(22, 22, 22);
  font-weight: 500;

  display: inline;
  overflow-wrap: break-word;
  font-size: 1em;
}
.msgSentTime {
  display: inline;
  float: right;
  font-size: 0.7em;
  margin-top: 0.1em;

  opacity: 0.9;
  color: grey;
}
.msg-status {
  margin-left: 0.5em;
  width: 1.8em;
}
.msg-status-sent {
  margin-left: 0.5em;
  width: 1em;
}

/* =============================================================== Left-component styles ========================================================================= */

.searchBar {
  width: 85%;

  position: relative;
  min-height: 4em;
  border-bottom: 0.06em solid grey;
  flex: 1;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.username-simple-chat-brief {
  margin-left: 1em;
  align-items: center;
  width: 80%;
  display: block;
}
.searchInputBar {
  border: none;

  font-size: 1em;

  position: absolute;
  background-color: inherit;
  color: white;

  left: 2em;
  bottom: 0.4em;
  width: 70%;

  outline: none;
}
.searchButton {
  position: absolute;

  bottom: 0.3em;

  right: 0;

  background-color: inherit;
  outline: none;
  border: none;
}
.searchButton:focus {
  outline: none;
}
.searchButton:active {
  transform: translateY(3px);
}
.searchIcon {
  color: rgb(161, 136, 136);
}
.plusButton {
  background-color: inherit;
  outline: none;
  border: none;
  position: absolute;

  top: 0;
  left: 0;
}
.plusButton:focus {
  outline: none;
}
.plusButton:active {
  transform: translateY(0.2em);
}
.plusIcon {
  color: rgb(161, 136, 136);
}

h2 {
  color: grey;
  position: absolute;
  background-color: inherit;
  bottom: 0;
  left: 1em;
  font-size: 0.8em;
}

.search-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 10;
  color: grey;
  height: 30em;
}
.img-search {
  width: 30%;
  height: 30%;
  opacity: 0.4;
}
.dot-end {
  border-bottom: 5px dotted grey;
  width: 15%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

/*=============================================================== Right-component styles ========================================================================= */

.rc-img {
  width: 16em;
  height: 16em;
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: 8rem; 
  margin-left: auto;
  margin-top: 20px;
  margin-right: auto;
 
}
.rc-header {
  flex: 1;

  min-height: 2em;
  display: flex;
  align-items: center;
 

}
.search-message
{
  width: 100%;
  height: fit-content;
  display: inline-block;
  margin: 0;
  

  
}
.middle-message
{
  width: 100%;
  height: fit-content;
  display: inline-block;
 
}
.contact-status
{
  font-size: 1.2em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  height: auto;
  overflow-wrap: break-word;
  color: #b2ebf2;
  text-align: left;
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}
.contact-name
{
  font-size: 2.9em;
  color: silver;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  height: auto;
 max-width: 90%;
 margin-left: auto;
 margin-right: auto;
  margin-top: 20px;
  
}
.chat-search-button
{
  width: 90%;
  text-align: left;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  color: rgb(255, 192, 192);
  
  font-size:1.2em ;

}
.chat-search-button:active
{
 transform: translateY(-10px);
}
.chat-search-button:hover{
  color: gainsboro;
  transform: translateY(5px);
}
.contact-info {
  flex: 10;
  
}
.chat-search-png
{
  width:2em;
  margin: 0.5em;
}
.rc-button {
  width: 2em;
  margin-right: 10px;
}
.rc-searchBar {
  color: white;
  background-color: inherit;
  outline: none;
  margin: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: outset;
}

.hightcolor-search
{
  background-color: orange;
}

.search-bottom
{
  flex:1;
  
  width: 100%;
  display: flex;
  min-width:2em ;
  align-items: center;
  justify-content: space-evenly;
  
}
#searchChatScroll
{
  flex:8;
 
}
.arrows
{
  
  background-color: aliceblue;
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
  position: relative;
  display: grid;
  border-radius: 1.25em; 
  
  justify-content: center;
  
}
.uparrow
{
  width: 2.5em;
  padding: 0.3em;

}
.downarrow
{
  width:3.5em;
  padding: 0.3em;
}
.arrows:active
{
  background-color: inherit;
}
.search-no-messages
{
  color:rgba(255, 255, 255, 0.842);
  font-size: 1.2em;
  text-align: center;
  

}

.search-bar-header
{
  display: flex;
  flex-direction: column;
  flex:2;
  align-items: center;
  justify-content: center;
}
.date-picker
{
  height: 2em;
}
.header-search
{
  flex:1;
}
.date-picker-section
{
  display: flex;
  flex:1
}
/* ==================================================sign-up styles =================================================*/

.FirstPage
{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  border: 0;
  flex-direction: column;
 
}
.FirstPageHeader
{
  flex:1;
  background-color: #000000;
}
.FrontPage
{
  display: flex;
  flex:10
}
.Header-text
{
  font-size: 3em;
  
  color:palevioletred;
}
.FormContent
{
  flex:1;
  background-color: aqua;
 
}

.app-feature-content
{
  flex:2;
  overflow: hidden;
  background-color: red;
  display: flex;
  align-content: space-between;
  justify-content: center;
 
}
@keyframes chat-anime {
  0%   {top:45%;right:-20%;opacity: 1;transform: scale(1);}
  25%  {top:0;right:0;opacity:0.5;transform: scale(0.7);}
  50%  {top:-40%;right:85%;}
  75%  { top:100%;right:85%}
  100% { top:75%;right:0;opacity:0.5;transform: scale(0.7);}
}

@keyframes scroll-anime {
  0%   {top:0;right:0;opacity:0.5;transform: scale(0.7);}
  25%  {top:-40%;right:85%}
  50%  { top:100%;right:85%}
  75%  { top:75% ;right:0;opacity:0.5;transform: scale(0.7);}
  100%  {top:35%;right:-20%;opacity: 1;transform: scale(1);}
}
@keyframes unlock-anime {
  0%   {top:-40%;right:85%}
  25%   { top:100%;right:85%}
  50%  { top:75% ;right:0;opacity:0.5;transform: scale(0.7);}
  75%  {top:35%;right:-20%;opacity: 1;transform: scale(1);}
  100% {top:0;right:0;opacity:0.5;transform: scale(0.7);}
}

@keyframes all-devices-anime {
  0%  { top:100%;right:85%}
  25%  { top:75% ;right:0;opacity:0.5;transform: scale(0.7);}
  50%  {top:35%;right:-20%;opacity: 1;transform: scale(1);}
  75%  {top:0;right:0;opacity:0.5;transform: scale(0.7);}
  100% {top:-40%;right:85%}
}
@keyframes cloud-anime {
  0%   { top:75% ;right:0;opacity:0.5;transform: scale(0.7);}
  25%  {top:35%;right:-20%;opacity: 1;transform: scale(1);}
  50%  {top:0;right:0;opacity:0.5;transform: scale(0.7);}
  75%  {top:-40%;right:85%}
  100% { top:100%;right:85%}
}


.circular-section
{
  
  margin-top: auto;
  margin-bottom: auto;
   
    background-color: #27be8b;
    
  width: 40em;
  height: 40em;
  border-radius: 20em; 

 right: 60%;
  position: relative;;
 
}
.features
{
  width: 10em;
  height: 10em;
  border-radius: 5em;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: palevioletred;
  position: absolute;

 
  
}


#unlock
{
  

 animation-name:unlock-anime;
 animation-duration: 10s;
 animation-iteration-count: infinite;

  
}
#scroll
{
 
  animation-name:scroll-anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
#cloud
{

 animation-name:cloud-anime;
 animation-duration: 10s;
 animation-iteration-count: infinite;
}
#all-devices
{
 
  animation-name:all-devices-anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  
}
#chat
{
 
  animation-name:chat-anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  

  
  
}
.feature-unlock
{
  
  padding: 0.3em;
  width: 10em;
  
}
.feature-rest
{
  padding: 0.3em;
  width: 10em;

}
.feature-scroll
{
  margin-left: 5em;
  
  width: 10em;
  padding: 0.3em;
}
.feature-cloud
{
  
  width: 15em;
  
  
}
