
.app-img{
    height: 300px;
    width: 300px;
}

.fdiv{
    height: 300px;
    width: 300px;
}
.comp{
    margin: 10px;
}
.left-c{
    overflow: hidden;
    height: 10000px;
}

.img-ul{
    width: 100%;
    background-color:rgba(0,0,0,0.08);
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    color: #f4f6ff;
    overflow: scroll;
    height: 420px;

}
ul::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
.img-li{
    
    padding-left: 16px;
    padding-right: 16px;
    align-items: flex-start;  
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;  
    justify-content: flex-start;
    text-decoration: none;
}
  .img-div{
    padding: 0;
    padding-left: 1rem;
    margin-top: 20px;
     
    
}  
.img-avatar{
   margin-left: 20px;
  
   
}
.img-h{
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
  
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}
.img-p{
    font-size: 0.85rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: grey;
}
#rc{
    background-color: black;
    color:#f4f6ff;
    margin: 0;
    padding: 20px;
}

.hrr{
    margin:0;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid #363636;
}
.nav-cl{
    background-color:rgba(0,0,0,0.08);
    color: #f4f6ff;
}

.time{
    position: absolute;
    right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    top: 28px;
    color: grey;
   
}
.unseen-msg
{
    position: absolute;
    right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    width: auto;
    min-width: 20px;
    height: 20px;
  
    background: #27be8b;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    
    text-align: center;
   
   
    
}
.center-cnt
{  
  color:white;
  padding-left: 2px;
  padding-right:2px ;

  
 
}
.dot{
    margin-left: 120px;
    margin-right: 120px;
    border-top: 3px dotted #363636;
}

  h6::after{
    content:"\A";
    width:8px;
    height:8px;
    margin-left: 10px;
    margin-bottom: 4px;
    border-radius:50%;
    background: #27be8b;
    display:inline-block;
}
h5::after{
    content:"\A";
    width:8px;
    height:8px;
    margin-left: 10px;
    margin-bottom: 4px;
    border-radius:50%;
    background: #fffd41;
    display:inline-block;
}
/* ======================================== home styling ========================================================================*/

.home
{   
    
     background-image: url(/images/bg-home.jpg); 

     font-family: 'Montserrat', sans-serif;
    height:90vh ;
    width: 80%;
    margin-top:3.750em ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.563em;
    margin-left: auto; 
    margin-right: auto; 
    border: none;
    align-items: center;
    display: flex;

   justify-content: center;
   overflow: hidden;
   

  
}
.chatBox
{   
   
    height: 80vh;
    display: flex;
   
    width:90%;
   
    border-radius: 0.625em;
  
    box-shadow: 0 0.625em 0.313em 0.063em #333; 
    overflow: hidden;
    
    
    
    
}
.leftHome
{
    background-color:rgba(0,0,0,0.8);
    flex:1;
}
.middleHome
{   
     background-color:rgba(0,0,0,0.72); 
 
    flex:2;
    position: relative;
    display: flex;
    flex-direction: column;
   
  
   
}
.middleHomeHeader
{
    
    border-bottom: 0.063em solid white;
    width: 85%;
    margin-left:1em ;
    margin-top: 1em;
    margin-bottom: 0.5em;
    height: 6vh;
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:1;
     
}


.header-username-section
{
    display: flex;
    flex-direction: column;
    flex:2;
    margin-left: 20px;
}
.chatScroll
{   
   
    overflow-y: scroll;
    flex:10;
      
}
.list-none 
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chatScroll::-webkit-scrollbar {
    width: 1em;
}
 
.chatScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.38em black;
}
 
.chatScroll::-webkit-scrollbar-thumb {
  background-color:rgba(128, 128, 128, 0.233);
  outline: 0.06em solid slategrey;
}
.receiverName
{
    font-size: 1.5em;
    color: white;
    opacity: 1;
    flex: 1;
}
.lastSeen
{
    color:grey;
    font-size: 0.89em;
    flex: 1;
    opacity: 1;
}
#chatInputBox
{
   
   display:flex;
   flex:1;
   
 

}
.middle-img
{
    width:45%;
    height: 40%;
  
}
.middleEmpty
{
    align-items: center;
    justify-content: center;
    color:grey;
}
.messageInput
{
   
    flex:3;
   border:none;
    padding-top: 0.5em;
    outline: none;
     
   background-color:rgba(0,0,0,0);
    
    padding-left:2em;
    font-size: 1em;
   
 
    color: #5f6769;
   
    
}
.messageButton
{
    flex:1;
    border: none;

   
   
    color:grey;
    outline: none;
  background-color:rgba(100, 89, 89, 0);
   
    font-size: 1em;
     
}
.messageButton:focus { outline: none; }
.messageButton:active {
    color:white;
  
    transform: translateY(0.25em);
  }
.rightHome
{
    background-color:rgba(0,0,0,0.78);
    flex:1;
   
}
@media only screen and (max-width:90em) {

    #right {
        display: none;
    }
}
@media only screen and (max-height: 41em) {

    #right {
        display: none;
    }
    #middle {
        display: none;
    }
    
}
@media only screen and (max-height: 55em) {

    .header-username-section
    {
        
        flex-direction: row;
        align-items: center;
       
       }
    .lastSeen
    {
        flex:10;
     
    }
    
    
}


@media only screen and (max-width:60em ) {
    #middle {
        display: none;
    }
}

/* ============================================message component styling =======================================*/

.msg
{
   
    padding: 0.5em;
   
    padding-right: 0.6em;
  
    display: inline-block;
    background-color:#282b30 ;
    margin:0.1em;
    margin-left: 0.9em;
     max-width: 18.75em;
    border-radius: 0.63em;
    clear:both;
    float:left;
    
   
    
}
.sendmsg
{
   
    padding: 0.5em;
    padding-right:0.75em;
    padding-left: 0.6em;
    max-width: 18.75em;
    margin:0.1em;
    margin-right: 0.9em;
    text-align: left;
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.623) ;
   float:right;
   clear:both;
    border-radius: 0.63em;
   
    
   
    
}
.sendmsgBody
{     
   
    color:grey;
    
   display: inline;
   
   overflow-wrap:break-word;
   font-size: 1em;
   
  
    
    
   
}


.msgBody
{     
   
    color:white;
    opacity: 0.9;
   display: inline;
   
   overflow-wrap:break-word;
   font-size: 1em;
   
  
    
    
   
}
.msgSentTime
{ 
    display: inline;
    float: right;
  font-size: 0.7em;
   margin-top: 0.1em;
   
  opacity: 0.9;
  color:grey;

 
 
  
}
.msg-status
{
    margin-left: 0.5em;
    width:1.8em;
   
  
    
}
.msg-status-sent
{
    margin-left: 0.5em;
    width:1em;
}

/* =============================================================== Left-component styles ========================================================================= */

.searchBar
{
    width:85%;
    
  
    position: relative;
    
    border-bottom: 0.06em solid grey;

    margin-left:1em;
    margin-top: 0.5em;

    height: 7.69vh;
}
.searchInputBar
{
  
  border: none;

   font-size: 1em;

  
   position: absolute;
    background-color: inherit;
    color:white;

    left:2em;
    bottom: 0.4em;
    width:70%;

    outline: none;
    
}
.searchButton
{
    position: absolute;

    bottom: 0.3em;

    right: 0;
   
    background-color: inherit;
    outline: none;
    border: none;
}
.searchButton:focus { outline: none; }
.searchButton:active {
    
  
    transform: translateY(3px);
  }
.searchIcon
{
    
    color: rgb(161, 136, 136);
}
.plusButton
{
   
    background-color: inherit;
    outline: none;
    border: none;
    position:absolute;

    top:0;
    left:0;

    
}
.plusButton:focus { outline: none; }
.plusButton:active {
    
  
    transform: translateY(0.2em);
  }
.plusIcon
{
    color: rgb(161, 136, 136);
}

h2{
    color: grey;
    position: absolute;
    background-color: inherit;
    bottom: 0;
    left:1em;
    font-size: 0.8em;    
}

.search-img
{  
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color:grey;
    height: 70vh;
}
.img-search
{
    width: 30%;
    height: 30%;
    opacity: 0.4;
    
}